@import "tailwindcss";

body {
    background-color: #f6f7f8;
}

header {
    background-image: url('../assets/bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#cart-btn:hover {
  cursor: pointer;
}
#close-modal-btn:hover {
  cursor: pointer;
}

.add-to-cart-btn:hover{
    cursor: pointer;
}